ul {
  list-style: none;
}

nav {
  a {
    font-weight: bold;
    color: #0000008c;
    text-decoration: none;

    &.router-link-exact-active {
      color: var(--bs-primary);
    }
  }
}

a {
  text-decoration: none;
}

input,
textarea {
  &:focus {
    outline: none;
  }
}