.home-discount {
  padding: {
    top: 100px;
    bottom: 100px;
  }
  .discount-parent {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    .image {
      height: 300px;
      width: 100%;
      img {
        height: inherit;
        width: inherit;
      }
    }
    .discount-child {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 230px;
      width: 250px;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      p {
        font-size: 28px;
        font-weight: 500;
        color: var(--bs-dark);
        margin-top: 0;
      }
    }
  }
}

$offers: (
  "orange" "--bs-secondary" "--bs-primary" "--bs-white",
  "grey" "--bs-dark" "--bs-white" "--bs-primary",
  "green" "--bs-primary" "--bs-secondary" "--bs-white"
);

@each $parent, $parentColor, $childColor, $titleColor in $offers {
  .home-discount {
    .discount-parent.#{$parent} {
      border: 2px solid var(#{$parentColor});
      .discount-empty {
        height: 150px;
        background-color: var(#{$parentColor});
      }
      .discount-child {
        background-color: var(#{$childColor});
        h3 {
          color: var(#{$titleColor});
        }
      }
    }
  }
}