.parent-nav {
  transition: 0.5s;
  background-color: white;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 5px var(--bs-primary);
  width: 100%;
  &.show {
    transform: translateY(-60px);
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bs-primary);
    position: relative;
    padding: 15px 30px;
    border-radius: 40px 15px 40px 15px;
    color: var(--bs-light);
    transition: 0.5s;
    .city span,
    .privacy a {
      letter-spacing: 1.7px;
      font-size: 13px;
      color: var(--bs-light);
    }
    .city {
      span {
        display: inline-block;
        margin-right: 20px;
        .v-icon {
          margin-right: 10px;
          color: var(--bs-secondary);
        }
      }
    }
    .privacy a {
      transition: 0.3s;
      &:hover {
        color: var(--bs-secondary);
      }
    }
  }
  .main-nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      a {
        color: var(--bs-primary);
        font-size: 40px;
        font-weight: 900;
        margin: 0;
        text-decoration: none;
      }
    }
    nav {
      display: flex;
      a {
        padding: 0 10px;
      }
    }
    .icons {
      display: flex;
      gap: 20px;
      .v-icon {
        display: block;
        color: var(--bs-primary);
        font-size: 30px;
      }
    }
    .nav-icon {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      padding: 8px;
      border: 2px solid var(--bs-primary);
      border-radius: 6px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        border-color: var(--bs-secondary);
      }
      span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--bs-primary);
      }
    }
  }
}

@media (max-width: 991px) {
  .parent-nav {
    &.show {
      transform: translateY(0);
    }
    .top {
      display: none;
    }
    .main-nav {
      .title {
        a {
          font-size: 40px;
          font-weight: 900;
        }
      }
      nav {
        display: none;
      }
      .icons {
        display: none;
      }
      .nav-icon {
        display: flex;
      }
    }
  }
}